*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, button, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
  color: #000;
}

@keyframes flicker {
  0% {
    color: #05AEE8;
  }
  10% {
    color: #000;
  }
  20% {
    color: #05AEE8;
  }
  30% {
    color: #000;
  }
  40% {
    color: #05AEE8;
  }
  50% {
    color: #fff;
  }
  60% {
    color: #05AEE8;
  }
  70% {
    color: #fff;
  }
  80% {
    color: #05AEE8;
  }
  90% {
    color: #fff;
  }
}

@keyframes reverse-flicker {
  0% {
    color: #000;
  }
  10% {
    color: #05aee8;
  }
  20% {
    color: #000;
  }
  30% {
    color: #05aee8;
  }
  40% {
    color: #000;
  }
  50% {
    color: #05aee8;
  }
  60% {
    color: #fff;
  }
  70% {
    color: #05aee8;
  }
  80% {
    color: #fff;
  }
  90% {
    color: #05aee8;
  }
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../assets/ressources/fonts/Montserrat-Bold.ttf") format("truetype");
  -webkit-font-smoothing: antialiased;
}

@font-face {
  font-family: "Montserrat-Regular";
  src: url("../assets/ressources/fonts/Montserrat-Regular.ttf") format("truetype");
  -webkit-font-smoothing: antialiased;
}

@media screen and (min-width: 0) {
  html {
    font-size: 62.5%;
    box-sizing: border-box;
  }
  body {
    background-color: #000;
  }
  body header .nav-container {
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
  }
  body header .nav-container .btn-nav-container {
    display: flex;
    position: relative;
  }
  body header .nav-container .btn-nav-container button.activated {
    transition: ease 0.7s;
    top: 85px;
  }
  body header .nav-container .btn-nav-container button {
    position: relative;
    transition: ease 0.7s;
    top: 0;
    width: 30px;
    height: 30px;
    background-color: #05aee8;
  }
  body header .nav-container .btn-nav-container button img.cross-nav.activated {
    transition: ease 0.7s;
    transform: rotate(45deg);
  }
  body header .nav-container .btn-nav-container button img.cross-nav {
    transition: ease 0.7s;
    transform: rotate(0deg);
    width: 15px;
    height: 15px;
  }
  body header .nav-container .btn-nav-container h2 {
    font-family: "Montserrat-Bold", serif;
    font-size: 2.5rem;
    text-transform: uppercase;
    padding-left: 25px;
    color: #fff;
    position: relative;
    top: -2px;
  }
  body header .nav-container .btn-nav-container .navigation-menu.activated {
    transition: ease 0.7s;
    height: 85px;
    padding: 10px 0 0 10px;
    left: 128px;
  }
  body header .nav-container .btn-nav-container nav.navigation-menu {
    position: absolute;
    left: 128px;
    transition: ease 0.7s;
    overflow: hidden;
    top: 30px;
    width: 210px;
    height: 0;
    margin-left: -72px;
    padding: 0 0 0 10px;
    background-color: #05aee8;
  }
  body header .nav-container .btn-nav-container nav.navigation-menu ul li {
    padding-bottom: 5px;
  }
  body header .nav-container .btn-nav-container nav.navigation-menu ul li span {
    font-family: "Montserrat-Bold", serif;
    font-size: 1.8rem;
    margin-right: 14px;
  }
  body header .nav-container .btn-nav-container nav.navigation-menu ul li a {
    font-family: "Montserrat-Bold", serif;
    font-size: 1.8rem;
    text-transform: uppercase;
  }
  body header .nav-container .btn-nav-container nav.navigation-menu ul li a:hover {
    color: #fff;
  }
  body header .nav-container .social-nav-container {
    width: 150px;
  }
  body header .nav-container .social-nav-container .social-app {
    display: flex;
    justify-content: flex-end;
  }
  body header .nav-container .social-nav-container .social-app ul {
    display: flex;
  }
  body header .nav-container .social-nav-container .social-app ul li {
    margin: 0 15px;
  }
  body header .nav-container .social-nav-container .social-app ul li a {
    font-family: "Montserrat-Bold", serif;
    font-size: 3.5rem;
    color: #fff;
  }
  body header .nav-container .social-nav-container .social-app ul li p:hover {
    color: #05aee8;
    cursor: pointer;
  }
  body header .title-logo-container img {
    position: fixed;
    z-index: 150;
    bottom: 0;
    width: 150px;
  }
  body main.main-page {
    position: relative;
  }
  body main.main-page section.title {
    font-family: "Montserrat-Bold", serif;
    color: #fff;
    text-align: right;
    font-size: 18vw;
    padding: 0px 20px;
    cursor: default;
  }
  body main.main-page section.title span {
    display: block;
  }
  body main.main-page section.intro {
    padding: 90px 9vw 0px;
  }
  body main.main-page section.intro img {
    position: relative;
    top: 110px;
    padding: 0;
  }
  body main.main-page section.intro body main.main-page section.intro .intro-video::before {
    position: relative;
    z-index: 100;
    display: block;
    height: 1000px;
    width: 1000px;
    background-color: red;
  }
  body main.main-page section.intro body main.main-page section.intro .intro-video::after {
    position: relative;
    z-index: 100;
    display: block;
    height: 1000px;
    width: 1000px;
    background-color: red;
  }
  body main.main-page section.intro .intro-video {
    display: block;
    position: absolute;
    top: 0;
    overflow: hidden;
    z-index: -100;
    max-height: 65vh;
  }
  body main.main-page section.intro .intro-video::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    display: block;
    height: 150px;
    width: 100%;
    background: linear-gradient(#000, transparent);
  }
  body main.main-page section.intro .intro-video::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 100;
    display: block;
    height: 150px;
    width: 100%;
    background: linear-gradient(transparent, #000);
  }
  body main.main-page section.intro .intro-video .row {
    position: relative;
    height: 100vh;
  }
  body main.main-page section.intro .intro-video .row video {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
    padding: 0;
  }
  body main.main-page section.intro .intro-video .intro-video-text h2 {
    position: absolute;
    top: 20vh;
    left: 0;
    width: auto;
    white-space: nowrap;
    padding: 0 735vw;
    margin: 0;
    font-family: Montserrat;
    font-family: "Montserrat-Bold", serif;
    color: #fff;
    font-weight: 800;
    font-size: 60vh;
    line-height: 0.8697916667;
    text-transform: uppercase;
  }
  body main.main-page section.intro .intro-text div {
    justify-content: center;
    padding: 0px;
  }
  body main.main-page section.intro .intro-text h1 {
    font-family: "Montserrat-Bold", serif;
    font-size: 5rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 10px;
    padding: 0;
  }
  body main.main-page section.intro .intro-text span {
    display: block;
    width: 100%;
    height: 10px;
    background-color: #fff;
    margin: 0 -8px 25px 0;
  }
  body main.main-page section.intro .intro-text article {
    padding: 0 0 25px;
  }
  body main.main-page section.intro .intro-text article div {
    font-family: "Montserrat-Regular", serif;
    font-size: 1.8rem;
    color: #fff;
    margin-bottom: 25px;
    border-bottom: 1px solid #fff;
    padding: 0 0 10px;
    text-align: justify;
  }
  body main.main-page section.intro .intro-text article div h3 {
    font-family: "Montserrat-Bold", serif;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    text-align: start;
  }
  body main.main-page section.intro .intro-text article div p.col-12 {
    text-align: justify;
    margin-top: 25px;
    margin-bottom: 25px;
    line-height: 20px;
  }
  body main.main-page section.intro .intro-text article div .intro-text-rs {
    text-align: end;
  }
  body main.main-page section.intro .intro-text article div .intro-text-rs li {
    margin-bottom: 5px;
  }
  body main.main-page section.intro .intro-text article div .intro-text-rs li a {
    display: contents;
    cursor: pointer;
    color: #05aee8;
    font-family: 'Montserrat-Bold';
  }
  body main.main-page section.intro .intro-text article div .intro-text-rs li a:hover {
    display: contents;
    -webkit-animation-name: flicker;
    animation-name: flicker;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    color: #fff;
  }
  body main.team {
    padding: 90px 9vw 0px;
  }
  body main.team .team-title {
    padding: 0 5px;
  }
  body main.team .team-title h1 {
    font-family: "Montserrat-Bold", serif;
    font-size: 5rem;
    color: #fff;
    text-transform: uppercase;
    padding: 0;
    margin-bottom: 45px;
  }
  body main.team div ul {
    flex-wrap: wrap;
    justify-content: center;
  }
  body main.team div ul li {
    display: block;
    margin-bottom: 3.75rem;
    width: 200px;
    margin: 0 auto;
  }
  body main.team div ul li .accordion {
    height: 250px;
    width: auto;
    padding: 0;
    display: block;
    margin: 0 auto 25px;
  }
  body main.team div ul li .accordion .figure-holder {
    position: relative;
    width: 200px;
    height: 200px;
  }
  body main.team div ul li .accordion .figure-holder .media-holder {
    position: absolute;
  }
  body main.team div ul li .accordion .figure-holder .media-holder:hover {
    opacity: 0;
  }
  body main.team div ul li .accordion .figure-holder .media-holder img {
    cursor: pointer;
  }
  body main.team div ul li .accordion figcaption {
    position: relative;
    font-family: "Montserrat-Bold", serif;
    font-size: 1.6rem;
    color: #fff;
    text-transform: uppercase;
    margin-top: 15px;
  }
  body main.team div ul li .accordion figcaption .role {
    font-family: "Montserrat-Regular", serif;
    font-size: 1.3rem;
    color: #fff;
    text-transform: none;
  }
  body main.team div ul li .panel.activated {
    height: 350px;
    transition: ease-in-out 0.7s;
  }
  body main.team div ul li .panel {
    padding: 0;
    overflow: hidden;
    max-height: 0;
    margin-bottom: 45px;
    transition: ease-in-out 0.7s;
  }
  body main.team div ul li .panel .panel-intro {
    font-size: 2rem;
    color: #05AEE8;
  }
  body main.team div ul li .panel p {
    font-family: "Montserrat-Regular", serif;
    font-size: 1.4rem;
    color: #fff;
  }
  body main .vinyle {
    position: fixed;
    z-index: -1;
    left: 0;
    top: -7%;
    transform: translate(-50%, 50%);
    width: 80%;
    height: 50%;
    max-width: 250px;
    max-height: 250px;
  }
  body main .vinyle img {
    width: 100%;
    overflow: hidden;
    animation: rotating 2s linear infinite;
  }
  body main .artistes {
    padding: 90px 9vw 0px;
  }
  body main .artistes .artist-title h1 {
    font-family: "Montserrat-Bold", serif;
    font-size: 5rem;
    color: #fff;
    text-transform: uppercase;
    margin-bottom: 45px;
  }
  body main .artistes li.artist-container.activated {
    transition: ease 0.7s;
    height: 1290px;
  }
  body main .artistes .artist-info-trigger-zone {
    position: relative;
    display: block;
    overflow: hidden;
    transition: ease 0.7s;
    height: auto;
    margin-bottom: 20px;
    padding: 0;
    cursor: pointer;
  }
  body main .artistes .artist-info-trigger-zone .artist-container {
    height: 110px;
    width: auto;
    padding: 0;
    display: block;
    margin: 0 auto 25px;
  }
  body main .artistes .artist-info-trigger-zone .artist-container div .artist-placeholder .artist-name p {
    -webkit-animation-name: flicker;
    animation-name: flicker;
    -webkit-animation-duration: 0.5s;
    animation-duration: 0.5s;
    color: #05aee8;
  }
  body main .artistes .artist-info-trigger-zone .artist-info {
    display: flex;
    justify-content: space-between;
    padding: 0;
    align-items: flex-start;
    cursor: default;
    max-height: 0;
    height: auto;
    transition: ease-in-out 0.7s;
    margin-top: 30px;
  }
  body main .artistes .artist-info-trigger-zone .artist-info .artist-left-side {
    padding-right: 0;
  }
  body main .artistes .artist-info-trigger-zone .artist-info .artist-left-side .artist-btn {
    display: flex;
    justify-content: space-between;
    padding: 0 5px 25px 0;
    width: 260px;
  }
  body main .artistes .artist-info-trigger-zone .artist-info .artist-left-side .artist-btn p {
    border: 1px solid #05aee8;
    padding: 2px;
    background-color: #000;
    font-family: "Montserrat-Regular", serif;
    color: #05aee8;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding: 10px 7px;
    cursor: pointer;
    user-select: none;
  }
  body main .artistes .artist-info-trigger-zone .artist-info .artist-left-side .artist-btn p:hover {
    border: 1px solid #05aee8;
    background-color: #05aee8;
    color: #000;
    font-size: 1.8rem;
  }
  body main .artistes .artist-info-trigger-zone .artist-info .artist-left-side a {
    font-family: "Montserrat-Regular", serif;
    color: #05aee8;
    font-size: 2rem;
    text-transform: uppercase;
  }
  body main .artistes .artist-info-trigger-zone .artist-info .artist-text p {
    font-family: "Montserrat-Regular", serif;
    color: #fff;
    font-size: 1.8rem;
    text-transform: uppercase;
    padding-bottom: 30px;
  }
  body main .artistes .artist-info-trigger-zone .artist-info .artist-text div .artist-social {
    display: grid;
    padding: 0 0 30px;
    margin: 0;
    text-align: end;
    width: auto;
  }
  body main .artistes .artist-info-trigger-zone .artist-info .artist-text div .artist-text-authors {
    display: flex;
  }
  body main .artistes .artist-info-trigger-zone .artist-info .artist-text div .artist-text-authors p {
    text-transform: none;
    width: 100px;
  }
  body main .artistes .artist-info-trigger-zone .artist-info .artist-text div .artist-text-authors ul li {
    font-family: "Montserrat-Regular", serif;
    color: #fff;
    font-size: 1.6rem;
    text-transform: none;
  }
  body main .artistes .artist-info-trigger-zone .artist-info img {
    display: block;
    object-fit: contain;
    margin: 0 0 0 auto;
    padding-right: 0;
    max-width: 480px;
  }
  body main .artistes .artist-info-trigger-zone .artist-info .artist-video.activated {
    height: 800px;
    transition: ease-in-out 0.7s;
    max-height: 800px;
  }
  body main .artistes .artist-info-trigger-zone .artist-info .artist-video {
    overflow: hidden;
    height: 0;
    transition: ease-in-out 0.7s;
    max-height: 0;
  }
  body main .artistes .artist-info-trigger-zone .artist-info .artist-video video {
    width: 100%;
    margin-top: 100px;
  }
  body main .artistes div.row .artist-placeholder {
    position: relative;
    min-width: 260px;
    margin-top: 35px;
    padding-bottom: 35px;
    padding-right: 5px;
    padding-left: 0;
    overflow: hidden;
    text-overflow: ellipsis;
    z-index: 1;
  }
  body main .artistes div.row .artist-placeholder .artist-name {
    position: relative;
    z-index: -100;
    padding: 0 0 30px;
    width: 100%;
    text-overflow: ellipsis;
  }
  body main .artistes div.row .artist-placeholder .artist-name p {
    font-family: "Montserrat-Bold", serif;
    color: #fff;
    font-size: 3.5rem;
    text-transform: uppercase;
    height: 70px;
    width: auto;
    padding-bottom: 35px;
  }
  body main .artistes div.row .artist-placeholder .artist-name p:hover {
    -webkit-animation-name: flicker;
    animation-name: flicker;
    -webkit-animation-duration: 0.3s;
    animation-duration: 0.3s;
    color: #05AEE8;
  }
  body main .artistes div.row .artist-placeholder .artist-name p:nth-child(2) {
    font-family: "Montserrat-Regular", serif;
    color: #fff;
    font-size: 2rem;
    text-transform: none;
  }
  body main .artistes div.row .artist-placeholder span {
    display: block;
    width: 100%;
    height: 10px;
    background-color: #fff;
  }
  body main .artistes div.row .artist-placeholder .toggle-artist-btn img.activated {
    transition: ease 0.7s;
    transform: rotate(45deg);
  }
  body main .artistes div.row .artist-placeholder button.toggle-artist-btn {
    position: absolute;
    display: flex;
    top: 5px;
    right: 5px;
    align-self: flex-start;
    text-align: end;
    padding: 0;
    background-color: transparent;
    width: 35px;
  }
  body main .artistes div.row .artist-placeholder button.toggle-artist-btn img {
    transition: ease 0.7s;
    transform: rotate(0deg);
    width: 35px;
    height: 35px;
  }
  body footer div.newsletter {
    padding: 0;
    display: flex;
    padding: 90px 9vw 25px;
  }
  body footer div.newsletter .newsletter-title {
    padding: 0;
  }
  body footer div.newsletter .newsletter-title h2 {
    font-family: "Montserrat-Bold", serif;
    font-size: 3rem;
    color: #fff;
    text-transform: uppercase;
    color: #05aee8;
  }
  body footer div.newsletter .newsletter-title p {
    width: 20px;
  }
  body footer div.newsletter .form-contact {
    padding: 0;
  }
  body footer div.newsletter .form-contact label {
    padding: 0;
    margin-bottom: 0.7em;
    border: none;
    font-size: 1.8rem;
    line-height: 1.1;
    font-family: "Montserrat-Regular", serif;
    font-weight: 400;
    text-transform: uppercase;
    color: #05aee8;
  }
  body footer div.newsletter .form-contact div {
    display: flex;
  }
  body footer div.newsletter .form-contact div input {
    padding: 0;
    box-sizing: border-box;
    font-size: 2rem;
    padding: 35px 0.6em;
    background: #000;
    border: 0.7rem solid;
    height: 3.75rem;
    font-family: "Montserrat-Regular", serif;
    font-weight: 400;
    width: 100%;
    outline: none;
    color: #05aee8;
  }
  body footer div.newsletter .form-contact div input::placeholder {
    color: #05aee8;
  }
  body footer div.newsletter .form-contact div .form-button {
    background-color: #05aee8;
    padding: 35px 12px;
    width: 425px;
    height: 84px;
    font-family: "Montserrat-Bold", serif;
    color: #000;
    font-size: 2rem;
    font-size: 2rem;
    margin: 0 0 0 15px;
  }
  body footer div.newsletter .form-contact .label-check label {
    align-items: center;
    display: flex;
    width: 285px;
  }
  body footer div.newsletter .form-contact .label-check label input {
    margin-right: 15px;
    width: 39px;
    height: 39px;
    border: 0.375rem solid #05aee8 !important;
    top: 0;
    left: 0;
    background: #000 !important;
  }
  body footer div.newsletter .form-contact .label-check label span {
    width: 300px;
  }
  body footer div.newsletter .form-contact .label-check label span p {
    padding: 12px 0;
  }
  body footer .footer-info {
    background-color: #05aee8;
    padding: 25px 9vw 100px;
    row-gap: 30px;
    justify-content: space-between;
  }
  body footer .footer-info .footer-social {
    font-family: "Montserrat-Regular", serif;
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
    text-decoration: underline;
    padding: 0;
  }
  body footer .footer-info .footer-address {
    text-align: right;
  }
  body footer .footer-info .footer-address span {
    font-family: "Montserrat-Regular", serif;
    font-size: 2rem;
    color: #fff;
    text-align: right;
  }
  body footer .footer-info .footer-email {
    font-family: "Montserrat-Regular", serif;
    font-size: 1.4rem;
    background-color: #fff;
    text-transform: uppercase;
    padding: 32px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 260px;
    margin: 0 auto;
  }
}

@media screen and (min-width: 0) and (min-width: 425px) {
  body main.team div ul li {
    margin: 0;
  }
  body main .vinyle {
    max-width: 500px;
    max-height: 500px;
  }
  body footer div.newsletter .newsletter-title h2 {
    font-family: "Montserrat-Bold", serif;
    font-size: 6rem;
    color: #fff;
    text-transform: uppercase;
    color: #05aee8;
  }
}

@media screen and (min-width: 0) and (min-width: 479px) {
  body main.team div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 25px;
  }
}

@media screen and (min-width: 0) and (min-width: 768px) {
  body main.main-page section.intro .intro-text article {
    padding: 0 0 25px;
  }
  body main.main-page section.intro .intro-text article:nth-child(even) {
    padding-left: 25px;
  }
  body main.main-page section.intro .intro-text article:nth-child(odd) {
    padding-right: 25px;
  }
  body main.team div ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 0;
  }
  body main.main-page section.title {
    font-size: 13rem;
  }
  body main.main-page section.intro .intro-video {
    max-height: 100%;
  }
  body main.main-page section.intro .intro-text h1 {
    font-size: 4.8rem;
  }
  body main.team .worker-info-trigger-zone.activated {
    transition: ease 0.7s;
    height: 445px;
  }
  body main.team div.row .team-info img {
    width: 260px;
    min-width: 275px;
  }
  body main .artistes li.artist-info-trigger-zone.activated {
    transition: ease 0.7s;
    height: 890px;
  }
  body main.artistes div.row .artist-info .artist-left-side {
    width: 50%;
  }
}

@media screen and (min-width: 0) and (min-width: 900px) {
  body main.team .team-worker div.row .team-info .team-text {
    width: 50%;
  }
  body main.team .team-worker div.row .team-info img {
    margin: inherit;
  }
}

@media screen and (min-width: 0) and (min-width: 1024px) {
  body main .artistes li.artist-info-trigger-zone.activated {
    transition: ease 0.7s;
    height: 650 px;
  }
}
